CompileFlags:
  Add: [
    "-I/home/ychen/SpMM/bitSpMM/groot",
    "-I/usr/local/cuda/include",
    "--cuda-gpu-arch=sm_80",
    "-xcuda",
    "--cuda-path=/usr/local/cuda",
    "-std=c++20"
  ]

If:
  PathMatch: .*\.cu$
CompileFlags:
  Add: ["-x", "cuda"]